<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"></th>
      <th scope="col">Nome</th>
      <th scope="col">CNPJ</th>
      <th scope="col">Telefone</th>
      <th scope="col">Email</th>
      <th scope="col">Acões</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>JOSÉ</td>
      <td>PAGAO</td>
      <td>DIABETES</td>
      <td>PRATA 4</td>
      <td>BRIGADEIRO</td>
      <td>SEMPRE CERTO</td>
    </tr>
  
  </tbody>
</table>
